$border-color: #eee;

.container {
  border-radius: 0.5rem;
  border: 1px solid $border-color;
  margin: 0.5rem 0;

  .titleContainer {
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #f9f9f9;
    border-bottom: 1px solid $border-color;
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
    color: #696969;
  }

  .dataContainer {
    padding: 0 1rem;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }

    .label {
      font-size: 0.8rem;
      color: #696969;
      margin-bottom: 0.25rem;
    }

    .helperText {
      font-size: 0.8rem;
      color: #6d6e6f;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    .value {
      font-size: 1rem;
      margin-top: 0;

      .image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 4rem;
        width: 4rem;
      }

      .statusBadge {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: #f5f5f5;
        padding: 0.1rem 0.5rem;
        border-radius: 0.3rem;
        color: #424242;
        font-size: 0.9rem;

        .indicator {
          height: 0.4rem;
          width: 0.4rem;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
