.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  // .logoContainer {
  //   position: absolute;
  //   left: 1rem;
  //   top: 1rem;
  // }

  .inner {
    width: 25rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding: 0 4rem;

    .logoContainer {
      // position: absolute;
      // left: 1rem;
      // top: 1rem;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
      }
      span {
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #ae3b04;
      }
    }
  }

  .information {
    font-family: 'PNG-Medium', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 0;

    a {
      margin-left: 0.2rem;
      color: #fa9602;
    }
  }
}
